
name: Build and deploy container app to Azure Container Registry

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: gmailhandler.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: gmailhandler.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME }}/gmail-handler:${{ github.sha }}
          file: ./Dockerfile

  # deploy:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     id-token: write #This is required for requesting the JWT
  #     contents: read #This is required for actions/checkout

  #   needs: build
    
  #   steps:
      
  #     - name: Login to Azure
  #       uses: azure/login@v2
  #       with:
  #         client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
  #         tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
  #         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION }}